In [2]:
import pandas as pd
import numpy as np

In [3]:
job_category = pd.read_csv('data/job_categoy.csv',header=0)
exp = pd.read_csv('data/movie_count_by_year.csv')

In [4]:
new_head = job_category.iloc[0]
job_category = job_category[2:]
job_category.columns = new_head
job_category.head()

,category,actor,actress,archive_footage,archive_sound,cinematographer,composer,director,editor,producer,production_designer,self,writer
2,tt0000001,NaN,NaN,NaN,NaN,William Heise,NaN,William K.L. Dickson,NaN,NaN,NaN,Carmencita,NaN
3,tt0000002,NaN,NaN,NaN,NaN,NaN,Gaston Paulin,Émile Reynaud,NaN,NaN,NaN,NaN,NaN
4,tt0000003,NaN,NaN,NaN,NaN,NaN,Gaston Paulin,Émile Reynaud,Tamara Pappé,Julien Pappé,NaN,NaN,NaN
5,tt0000004,NaN,NaN,NaN,NaN,NaN,Gaston Paulin,Émile Reynaud,NaN,NaN,NaN,NaN,NaN
6,tt0000005,John Ott,NaN,NaN,NaN,NaN,NaN,William K.L. Dickson,NaN,Thomas A. Edison,NaN,NaN,NaN

In [5]:
job_category.columns = ['tconst','actor', 'actress', 'archive_footage', 'archive_sound',
       'cinematographer', 'composer', 'director', 'editor', 'producer',
       'production_designer', 'self', 'writer']

In [6]:
movie = pd.read_csv('data/title_basic/data.tsv', sep ='	')
movie = movie[movie['titleType'] =='movie']

movie = movie.replace('\\N', np.nan)

movie['startYear'] = movie['startYear'].fillna(0).astype('int')
movie = movie[movie.startYear >= 1970].dropna(subset=['runtimeMinutes'])

movie
cross = pd.read_csv('data/title_principals/data.tsv', sep ='	')
cross = cross[['tconst', 'nconst']]

rate = pd.read_csv('data/title_rating/data.tsv', sep ='	')

movie = pd.merge(rate, movie, on='tconst')
start_yr = pd.read_csv('data/title_basic/data.tsv', sep ='	')
start_yr = start_yr[['tconst','startYear', 'titleType']]
cate = pd.read_csv('data/title_principals/data.tsv', sep ='	')
cate = pd.merge(cate, start_yr, on='tconst')
cate = cate[['tconst','nconst','category', 'startYear', 'titleType']]
cate = cate.replace('\\N', np.nan)


movie

C:\Users\kenny\.jupyter\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,tconst,averageRating,numVotes,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0015724,6.2,20,movie,Dama de noche,Dama de noche,0,1993,NaN,102,"Drama,Mystery,Romance"
1,tt0016906,5.6,15,movie,Frivolinas,Frivolinas,0,2014,NaN,80,"Comedy,Musical"
2,tt0031458,7.1,8,movie,El huésped del sevillano,El huésped del sevillano,0,1970,NaN,86,Comedy
3,tt0035423,6.4,76787,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
4,tt0036606,6.5,247,movie,"Another Time, Another Place","Another Time, Another Place",0,1983,NaN,118,"Drama,War"
5,tt0038687,7.4,1450,movie,Let There Be Light,Let There Be Light,0,1980,NaN,58,"Documentary,War"
6,tt0039442,6.2,125,movie,"Habla, mudita","Habla, mudita",0,1973,NaN,88,Drama
7,tt0054724,3.5,1191,movie,I Eat Your Skin,Zombie,0,1971,NaN,92,Horror
8,tt0057461,4.4,14,movie,La rosa de los vientos,La rosa de los vientos,0,1983,NaN,84,NaN
9,tt0058950,6.9,123,movie,"Auliban, the Seller of Rings",Biya el-Khawatim,0,1973,NaN,95,"Comedy,Musical"
10,tt0058994,5.1,133,movie,Bruce's Fingers,Lung men bei chi,0,1976,NaN,91,"Action,Crime,Drama"
11,tt0059680,3.9,102,movie,Satan's Harvest,Satan's Harvest,0,1970,NaN,88,Action
12,tt0059900,6.9,23,movie,"Wenn du groß bist, lieber Adam","Wenn du groß bist, lieber Adam",0,1990,NaN,78,"Drama,Fantasy"
13,tt0060144,6.1,16,movie,Aventura en las islas Cíes,Aventura en las islas Cíes,0,1972,NaN,82,Adventure
14,tt0060462,4.4,89,movie,The Girls from Thunder Strip,The Girls from Thunder Strip,0,1970,NaN,80,"Action,Drama"
15,tt0060477,7.0,34,movie,Gregorio and His Angel,Gregorio y su ángel,0,1970,NaN,95,"Drama,Family,Fantasy"
16,tt0060526,3.3,7,movie,Huyendo del halcón,Huyendo del halcón,0,1973,NaN,103,Adventure
17,tt0060939,5.1,31,movie,Santo vs. the Head Hunters,Santo contra los cazadores de cabezas,0,1971,NaN,80,"Action,Adventure,Drama"
18,tt0060951,4.7,226,movie,A Scream in the Streets,A Scream in the Streets,0,1973,NaN,96,"Action,Crime"
19,tt0061069,7.5,731,movie,Taro the Dragon Boy,Tatsu no ko Tarô,0,1979,NaN,75,"Adventure,Animation,Family"
20,tt0061151,6.7,25,movie,The Lost Angel,Der verlorene Engel,0,1971,NaN,57,NaN
21,tt0061494,4.2,335,movie,Cauldron of Blood,El coleccionista de cadáveres,0,1970,NaN,97,"Drama,Horror,Mystery"
22,tt0061592,2.4,923,movie,Doomsday Machine,Doomsday Machine,0,1972,NaN,83,Sci-Fi
23,tt0061876,7.5,1310,movie,The Commissar,Komissar,0,1987,NaN,110,"Drama,War"
24,tt0061902,7.4,5,movie,The Life of Mozart,Das Leben Mozarts,0,1970,NaN,150,Documentary
25,tt0062105,8.1,11,movie,Der Paukenspieler,Der Paukenspieler,0,1971,NaN,87,NaN
26,tt0062181,6.6,284,movie,Rece do góry,Rece do góry,0,1981,NaN,76,Drama
27,tt0062336,6.1,19,movie,El tango del viudo y su espejo deformante,El tango del viudo y su espejo deformante,0,2020,NaN,70,Drama
28,tt0062359,7.0,21,movie,The Bull Buster,Koreyim Li Shmil,0,1973,NaN,90,Drama
29,tt0062690,6.1,1028,movie,Awakening of the Beast,O Ritual dos Sádicos,0,1970,NaN,93,"Drama,Horror"
...,...,...,...,...,...,...,...,...,...,...,...
175609,tt9905412,7.5,485,movie,Ottam,Ottam,0,2019,NaN,120,Drama
175610,tt9905462,8.8,550,movie,Pengalila,Pengalila,0,2019,NaN,111,Drama
175611,tt9905476,9.3,20,movie,Hand Rolled,Hand Rolled,0,2019,NaN,90,Documentary
175612,tt9905796,6.0,34,movie,July Kaatril,July Kaatril,0,2019,NaN,162,"Drama,Romance"
175613,tt9906128,7.8,5,movie,Leak (Penangkeb),Leak (Penangkeb),0,2019,NaN,75,Horror
175614,tt9906218,7.9,15,movie,Unstoppable,Unstoppable,0,2019,NaN,84,Documentary
175615,tt9906262,7.0,50,movie,The Changin' Times of Ike White,The Changin' Times of Ike White,0,2019,NaN,77,"Documentary,Music"
175616,tt9906644,6.9,331,movie,Manoharam,Manoharam,0,2019,NaN,122,"Comedy,Drama"
175617,tt9908390,4.8,168,movie,Le lion,Le lion,0,2020,NaN,95,Comedy
175618,tt9908960,3.5,58,movie,Pliusas,Pliusas,0,2018,NaN,90,Comedy
175619,tt9909228,5.6,21,movie,Ximei,Ximei,0,2019,NaN,98,Documentary
175620,tt9910238,4.1,10,movie,Be 5min. vede,Be 5min. vede,0,2017,NaN,80,"Comedy,Romance"
175621,tt9910502,7.8,12,movie,Hayatta Olmaz,Hayatta Olmaz,0,2019,NaN,97,Comedy
175622,tt9910530,6.3,7,movie,Svartklubb,Svartklubb,0,2020,NaN,79,Horror
175623,tt9910778,6.6,8,movie,DK Bose,DK Bose,0,2019,NaN,117,Comedy
175624,tt9910930,5.1,8,movie,Jeg ser deg,Jeg ser deg,0,2019,NaN,75,"Crime,Documentary"
175625,tt9911006,5.5,6,movie,Ormma,Ormma,0,2019,NaN,127,Drama
175626,tt9911196,7.8,515,movie,De Beentjes van Sint-Hildegard,De Beentjes van Sint-Hildegard,0,2020,NaN,103,"Comedy,Drama"
175627,tt9911306,3.2,18,movie,Kalikkoottukar,Kalikkoottukar,0,2019,NaN,145,"Drama,Romance"
175628,tt9911774,8.0,263,movie,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,0,2019,NaN,130,Drama
175629,tt9913056,7.0,20,movie,Swarm Season,Swarm Season,0,2019,NaN,86,Documentary
175630,tt9913084,6.0,12,movie,Diabolik sono io,Diabolik sono io,0,2019,NaN,75,Documentary
175631,tt9913936,8.3,16,movie,Paradise,Paradise,0,2019,NaN,135,"Crime,Drama"
175632,tt9914254,7.8,6,movie,A Cherry Tale,Kirsebæreventyret,0,2019,NaN,85,Documentary
175633,tt9914286,6.5,196,movie,Sokagin Çocuklari,Sokagin Çocuklari,0,2019,NaN,98,"Drama,Family"
175634,tt9914642,8.2,24,movie,Albatross,Albatross,0,2017,NaN,97,Documentary
175635,tt9914644,8.4,38,movie,9/11: Escape from the Towers,9/11: Escape from the Towers,0,2018,NaN,120,Documentary
175636,tt9914942,6.8,78,movie,La vida sense la Sara Amat,La vida sense la Sara Amat,0,2019,NaN,74,Drama
175637,tt9916160,6.6,36,movie,Drømmeland,Drømmeland,0,2019,NaN,72,Documentary
175638,tt9916538,8.4,5,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0,2019,NaN,123,Drama

In [8]:
#movie = pd.merge(movie, cnts, left_on=['nconst', 'startYear'], right_index=True)
cate['startYear'] = cate['startYear'].fillna(0).astype('int')

cate = cate[(cate['category'].isin(['director','cinematographer','actor','actress','writer'])) & (cate['startYear'] > 1950)&(cate['startYear'] <= 2020)
           & (cate['titleType'] =='movie')].drop(columns='titleType')

collab = cate.groupby(['tconst', 'startYear', 'category'])['nconst'].max().unstack().groupby('director')['writer','cinematographer',
                                                                                               'actor','actress'].count()
collab.columns = ['writer_collab','cine_collab','actor_collab','actress_collab']
movie = pd.merge(movie, collab, how='left', left_on='nconst', right_index=True)

KeyError: 'nconst'

In [ ]:
c = pd.read_csv('data/movie_count_by_year.csv').groupby(['nconst','startYear','category'])['tconst'].max().unstack()


movie = pd.merge(cross, movie, on='tconst')
movie = pd.merge(movie, c, left_on=['nconst', 'startYear'], right_index=True)
movie.head()

In [ ]:
movie = movie[['tconst', 'averageRating', 'numVotes', 'runtimeMinutes','startYear','genres', 'actor', 'actress', 'cinematographer',
       'director', 'writer']].groupby(['tconst', 'averageRating', 'numVotes', 'runtimeMinutes','startYear','genres'])['actor', 'actress', 'cinematographer',
       'director', 'writer'].max().reset_index()
#movie = pd.concat([cnts, pd.get_dummies(cnts.genres, prefix_sep=',')], axis=1).drop(columns=['genres', 'tconst','startYear']).fillna(0)
movie

In [ ]:

job = pd.merge(g, names, on = 'nconst').drop(columns='nconst').replace('.', '').replace(' ', '')
job = job.pivot_table(index=['tconst','category'], values='primaryName', aggfunc='max')
job

In [ ]:
job.unstack().to_csv('data/job_categoy.csv')

In [ ]:
names = pd.read_csv('data/title_basic/data.tsv', sep ='	')
names = names[names['titleType']=='movie']

In [ ]:
rate = pd.read_csv('data/title_rating/data.tsv', sep ='	')
n = pd.merge(names, rate, how='left', on='tconst')
n.head()

In [ ]:
n = n[pd.isnull(n.averageRating) == True].replace('\\N', np.nan)

In [ ]:
m = pd.read_csv('data/title_basic/data.tsv', sep ='	')

In [ ]:
m = pd.read_csv('data/title_basic/data.tsv', sep ='	')
director = pd.read_csv('data/title_principals/data.tsv', sep ='	')
director = director[director['category'] == 'director']
director = pd.merge(director, m, on = 'tconst')
director = director.groupby(['nconst','genres'])['tconst'].count()

In [ ]:
director = pd.merge(director, m, on = 'tconst')

In [ ]:
#director = director[director['titleType'] == 'movie']
director.groupby(['nconst','genres'])['tconst'].count()

In [ ]:
#pd.read_csv('data/title_principals/data.tsv', sep ='	')